*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', 'Trebuchet MS', 'Arial Rounded MT Bold', sans-serif;
  -webkit-font-smoothing: antialiased;
}
